---
import {
actividades,
  ciudadInstituto,
  eventosFestivales,
  obrasTeatro,
  montajes
} from "./data-teatro";

---

<!-- component -->
<div class="m-auto flex justify-center pt-[100px]">
  <section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <!--  1ra fila -->
        <table class="w-full">
          <thead>
            <tr
              class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
            >
              <th class="px-4 py-3 border-b-[1px] border-black">Entidades donde trabajó</th>
              <th class="px-4 py-3 border-b-[1px] hidden lg:block"
                >Actividades</th
              >
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-1 border w-1/2 relative" id="instituto-container">
                <div class="w-full h-full my-3 block lg:absolute top-0" id="instituto-content">
                  <ul class="list-disc">
                {
                  ciudadInstituto.map((item) => (
                        <li class="text-ms  text-gray-600 mt-2">
                          * {item.instituto}
                        </li>
                  ))
                }
                </ul>
                </div>
              </td>
              <td class="px-4 py-3 text-ms  w-full hidden lg:block text-gray-600">
                <ul class="px-2 list-disc">
                  {
                    actividades.map((item) => (
                      <li class="mt-2"> * {item.actividad}</li>
                    ))
                  }
                </ul>
              </td
              >
            </tr>
          </tbody>
        </table>
        <!-- 2da fila movil -->
        <table class="w-full lg:hidden">
          <thead>
            <tr
              class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
            >
              <th class="px-4 py-3 border-b-[1px] border-black hidden"
                >Ciudad(es)</th
              >
              <th class="px-4 py-3 border-b-[1px] border-black">Actividades</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-1 border w-1/2 hidden">
                {
                  ciudadInstituto.map((item) => (
                    <div class="flex items-center text-sm my-3">
                      <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                        <img
                          class="object-cover w-full h-full rounded-full"
                          src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg"
                          alt=""
                          loading="lazy"
                        />
                        <div
                          class="absolute inset-0 rounded-full shadow-inner"
                          aria-hidden="true"
                        />
                      </div>
                      <div>
                        <p class="text-xs text-gray-600">* {item.instituto}</p>
                      </div>
                    </div>
                  ))
                }
              </td>
              <td class="px-4 py-3 text-ms  border w-1/2">
                <ul class="px-2">
                  {
                    actividades.map((item) => (
                      <li class="list-disc mt-2">* {item.actividad}</li>
                    ))
                  }
                </ul>
              </td
              >
            </tr>
          </tbody>
        </table>
        <!-- 2da fila -->
        <table class="w-full">
          <thead>
            <tr
              class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
            >
              <th class="px-4 py-3 border-b-[1px] border-black"
                >Obras de Teatro Escritas</th
              >
              <th class="px-4 py-3 hidden lg:block">Eventos y festivales</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-1 border w-1/2">
                {
                  obrasTeatro.map((item) => (
                    <div class="text-ms  text-gray-600 my-3">
                      <div>
                        <p>* {item.titulo}</p>
                      </div>
                    </div>
                  ))
                }
              </td>
              <td
                class="px-4 text-ms  border w-full border-none hidden lg:block"
                >
                <ul class="py-2 text-ms  text-gray-600">
                {
                  eventosFestivales.map((item) => (
                      <li class="list-disc my-3">* {item.titulo}</li>
                    ))
                  }
                </ul>
                </td>
            </tr>
          </tbody>
        </table>
        <!-- 4ta fila movil -->
        <table class="w-full lg:hidden">
          <thead>
            <tr
              class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
            >
              <th class="px-4 py-3 border-b-[1px] border-black hidden"
                >LIBROS & DOCUMENTOS</th
              >
              <th class="px-4 py-3">EVENTOS & FESTIVALES</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-1 border w-full hidden">
                {
                  obrasTeatro.map((item) => (
                    <div class="text-sm my-3">
                      <div>
                        <p class="text-xs text-gray-600">* {item.titulo}</p>
                      </div>
                    </div>
                  ))
                }
              </td>
              <td
                class="px-4 text-ms  border w-full flex flex-col border-none mt-4"
                >
                <ul class="py-2 text-ms  text-gray-600">
                  {
                    eventosFestivales.map((item) => (
                      <li class="list-disc my-3">* {item.titulo}</li>
                    ))
                  }
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 3ra fila -->
        <table class="w-full">
          <thead>
            <tr
              class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
            >
              <th class="px-4 py-3 border-b-[1px] border-black"
                >Montajes de Obras de Teatro</th
              >
              
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-1 border w-1/2">
                {
                  montajes.map((item) => (
                    <div class="text-ms text-gray-600 my-3">
                      <div>
                        <p set:html={"* " + item.titulo}/>
                      </div>
                    </div>
                  ))
                }
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
